= render "home/header"

.content
  .content__main 
    .content__main__box
      .text-bold
        タイトル
        %span.required
          必須
      %input 
      .text-bold
        日付
        %span.required
          必須
      %input
      .text-bold
        時間
        %span.required
          必須
      %input
      .text-bold
        時給
        %span.required
          必須
      %input
      .text-bold
        テキスト
      %input 
    .content__main__botton-box
      .content__main__botton-box__draft-botton
        = link_to root_path, id: "back-btn" do
          もどる
