= render "home/header"

.content
  .content__main 
    .content__main__item-name-box
      .text-bold
        タイトル
        %span.required
          必須
      .text-bold
        日付
        %span.required
          必須
      .text-bold
        時間
        %span.required
          必須
      -# = f.text_area :detail, class:"content__main__item-name-box__item-exp-field", placeholder: "商品の説明(必須１０００文字以内)\n(色、素材、重さ、定価、注意点など)\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", maxlength: 1000
        
    .content__main__item-info-box
      .text-bold
        時給
        %span.required
          必須
      .text-bold
        テキスト
    .content__main__botton-box
      -# = f.submit "出品する", class: "content__main__botton-box__send-botton"
      -# = f.submit "下書きに保存", class: "content__main__botton-box__draft-botton"
      .content__main__botton-box__draft-botton
        = link_to root_path, id: "back-btn" do
          もどる
