.header
  .header__inner
    %h1.header__inner__title
      =link_to root_path do
        Sukima-Time
    .header__inner__right
      .header__inner__right__link
        =link_to "#" do
          About Us
      .header__inner__right__link
        =link_to "#" do
          Log In
      .header__inner__right__link
        =link_to "#" do
          Sign Up