.main
  = image_tag asset_path("lukas-blazek-UAvYasdkzq8-unsplash.jpg"), class:"main"
  .main__top
    .main__top__content
      Sukima-Time
      .main__top__content__text
        スキマ時間を活かしたフレキシブルな働き方がしたい
        %br
        スキルや経験を活かしてお客様にありがとうと言われたい
        %br
