.content{
  margin-top: 140px;

  &__main{
    background-color: #ffffff;
    width: 700px;
    margin: 40px auto;
    padding: 24px 40px 40px;
    color: #333;
    &__box{
      padding-bottom: 40px;
      border-bottom:  1px solid grey;
    
      .text-bold{
        font-size: 15px;
        font-weight: bold;
        margin: 10px 5px;
      }
      
      .required{
        font-size: 13px;
        color: #ffffff;
        background-color: #ff3333;
        margin-left: 1em;
        padding: 2px 6px 2px 4px;
      }
    }
  }
}