$form-font-size: 18px;
$form-padding: 10px;
$main-padding: 40px 0 ;
$main-padding-bottom: 40px;
$main-border-bottom: 1px solid #808080;

.content{
  margin-top: 140px;

  &__main{
    width: 700px;
    margin: 40px auto;
    padding: 24px 40px 40px;
    color: #808080;
    &__box{
      width: 100%;
      padding-bottom: 40px;
    
      .text-bold{
        font-size: 15px;
        font-weight: bold;
        margin: 10px 5px;
      }
      
      .required{
        font-size: 13px;
        color: #ffffff;
        background-color: #ff3333;
        margin-left: 1em;
        padding: 2px 6px 2px 4px;
      }
      &__field{
        height: 40px;
        width: 100%;
        font-size: $form-font-size;
        line-height: 40px;
        margin-bottom: 20px;
        padding: $form-padding;
        border-radius: 18px;
        border: 1px solid #808080;

        &__select{
          height: 45px;
          width: auto;
          font-size: $form-font-size;
          line-height: 45px;
          margin-bottom: 20px;
          padding: $form-padding;
        }
        &__ok{
          margin-top: 40px;
          height: 60px;
          width: 300px;
          font-size: 23px;
          line-height: 40px;
          margin-bottom: 20px;
          padding: $form-padding;
          border-radius: 18px;
          border: 1px solid #808080;
          animation: center;
        }
      }
      .flexbox{
        display: flex;
        align-items: center;
        font-size: $form-font-size;
        letter-spacing: 10px;
      }
    }
      &__botton-box{
        border-top:  1px solid #808080;
        text-align: center;
        color: #808080;
      }
  }
}